*{
    margin: 0px;
    padding: 0px;
}
body {
    background: #0a04c4;
    color: #0b0010;
}
header {
    background-color: rgb(2, 0, 20);
}
.coverBackground{
    background-image: url("../imagenes/palomitas.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    padding-right: 280px;
}
.coverBackground h1{
    color: rgb(244, 11, 11);
    font-size: 48px;
    
}
.cardsMovies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 48px;
}
.card{
    margin-bottom: 13px;
    width: 33%;
    overflow: hidden;
}
.cardTitle{
    color: rgb(26, 13, 207);
    font-size: 13px;
    font-weight: bold;
}
.cardDirector{
    font-size: 11px;
}
.cardGener{
    font-size: 11px;
}
.cardAge{
    font-size: 10px;
}
.cardDescription{
    font-weight: bold;
    font-size: 13px;    
}
footer{
    margin: 40px 0;
    text-align: center;
    color: aliceblue;
}